
body {
    min-height: 100vh;
    padding: 20px;
    background-color: #CCFF00;
    background-size: 400% 400%;
    transition: all 0.3s ease;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

#searchInput {
    display: block;
    margin: 0 auto 20px;
    padding: 14px 20px;
    width: 90%;
    max-width: 500px;
    color: #000000;
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgba(7, 7, 7, 0.9);
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(39, 39, 39, 0.2);
    transition: all 0.3s ease;
}

#searchInput::placeholder {
    color: #fffafa;
    font-size: 15px;
}

#searchInput:focus {
    animation: inputFocus 0.4s ease forwards;
}

@keyframes inputFocus {
    from {
        background: rgba(255, 255, 255, 0.2);
        transform: scale(1);
    }

    to {
        background: rgba(52, 51, 51, 0.5);
        transform: scale(1.5);
    }
}

#searchInput:focus {
    background: rgba(52, 51, 51, 0.3);

}

#categories {
    text-align: center;
    margin-bottom: 20px;
}

#categories button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    background: rgba(97, 95, 95, 0.2);
    color: black;
    border-radius: 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}


#memeGrid {
    column-count: 3;
    column-gap: 15px;
}

.memeCard {
    break-inside: avoid;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.memeCard:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

.memeCard img {
    width: 90%;
    border-radius: 12px;
    display: block;
}

.memeCard p {
    margin: 8px 0;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.shareBtn {
    width: 100%;
    padding: 8px;
    border: none;
    background: rgb(255, 97, 255);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.shareBtn:hover {
    transform: scale(1.04);
}

.dark {
  background: #0f172a;
  color: #e2e8f0;
}

.dark h1 {
  color: #CCFF00;
}
.dark #searchInput {
  background: rgba(0,0,0,0.5);
  color: white;
}

.dark #searchInput::placeholder {
  color: #aaa;
}

.dark .memeCard {
  background: rgba(255,255,255,0.05);
}

.dark #categories button {
  background: rgba(255,255,255,0.1);
  color: white;
}

.dark #categories button:hover {
  background: #CCFF00;
  color: black;
}

.dark .shareBtn {
  background: #CCFF00;
  color: black;
}

@media (max-width: 900px) {
    #memeGrid {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    #memeGrid {
        column-count: 1;
    }
}